[Unit] 
Description=My first .NET Core application on Ubuntu 

[Service] 
WorkingDirectory=/home/tm/VFinal/TmHubServer/bin/Debug/netcoreapp3.1 
ExecStart=/usr/bin/dotnet /home/tm/VFinal/TmHubServer/bin/Debug/netcoreapp3.1/TmHubServer.dll
Restart=always 
RestartSec=10 # Restart service after 10 seconds if dotnet service crashes 
SyslogIdentifier=offershare-web-app
Environment=ASPNETCORE_ENVIRONMENT=Production 

[Install] 
WantedBy=multi-user.target

