.gaugeComponentHeader {
    display: flex;
    justify-content: space-between;
    position: relative;
}

.gaugeTitleStyle {
    font-weight: 100;
    letter-spacing: 1px;
}

.gaugeComponentChanger {
    text-align: end;
}

.gaugePosition {
    display: flex;
    justify-content: center;
    margin-top: 8px;
}

.alarmGauge, .historyGauge,
.actionGauge, .actionReceiverGauge {
    padding: 6px 0;
}

.fa-sign-in-alt {
    transform: rotate(90deg);
}

.fa-sign-out-alt {
    transform: rotate(-90deg);
}

.sc-info {
    position: absolute;
    margin: 47px 8px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* Versão Antiga */
/*.sc-min {
    right: 0%;
    margin-left: -23%;
    position: relative;
}*/

/* Versão Atual */
/*.sc-min {
    
}

.sc-middle {

}

.sc-max {

}*/

.gaugeInformation {
    display: flex;
    justify-content: space-evenly;
    margin-top: -30px;
    padding: 0px 20px;
}

.sc-gauge {
    width: 47%;
    height: 110px;
    margin: 2% auto;
}

.sc-background {
    position: relative;
    height: 110px;
    margin-bottom: 20px;
    background-color: #fff;
    border-radius: 1000px 1000px 0 0;
    overflow: hidden;
    text-align: center;
    top: 20%;
}

.sc-mask {
    position: absolute;
    top: 40px;
    right: 0px;
    left: 0px;
    height: 88%;
    background-color: #2e2e2e;
    border-radius: 1000px 1000px 0 0;
    text-align: center;
    display: block;
    width: 70%;
    height: 70%;
    margin: auto;
}

.sc-percentage {
    position: absolute;
    top: 110px;
    left: auto;
    width: 106%;
    height: 144px;
    background-color: #00aeef;
    transform: rotate(0deg);
    transform-origin: top center;
}

/*.sc-value {
    position: relative;
    width: 100%;
    font-weight: 700;
    color: white;
    text-align: center;
    font-size: 1.3vw;
    top: 50%;
}*/


/*.experiment {
    display: inline-block;
    max-width: 600px;
    padding: 80px 0 0;
    line-height: 1.5;
    font-family: monospace;
    color: greenyellow;
}*/

/*.buttonRotation {
    line-height: 1.5;
    font-family: monospace;
    color: white;
    border-color: cornflowerblue;
}*/


/*.textInput {
    color: black;
    border-color: white;
}*/

.button {
    color: black;
    border-color: white;
}

.sc-info-botton {
    font-size: 78%;
    text-align: left;
    width: 100%;
    position: relative;
    float: left;
    height: 15%;
    left: 38%;
    color: #f5f2f2bf;
}

.sc_Multiplicator_Value {
    display: none;
}

.hiddenSpan {
    display: none;
}

.divGauge {
    height: 25%;
    width: 30%;
    border: 1px dotted white;
}

.gaugeHeaderOffDashboard {
    position: relative;
    top: -75px;
}